*.pdf
*.txt
*.yaml
*.cache
*.xml
config.yaml
.idea/vcs.xml
.idea/Itemized-Billing.iml
.ipynb_checkpoints/yolov8-checkpoint.ipynb


.idea/Itemized-Billing.iml
*.iml
*.iml
*.xml
*.iml
*.xml
*.iml
*.xml
