utils~=1.0.1
tqdm~=4.66.1
pandas~=2.1.4
psutil~=5.9.7
scipy~=1.11.4
numpy~=1.26.3
deskew~=1.4.3
PyYAML~=6.0.1
pytest~=7.4.4
imutils~=0.5.4
Pillow~=10.2.0
shapely~=2.0.2
ipython~=8.19.0
wxPython~=4.2.1
requests~=2.31.0
pyenchant~=3.2.2
pdf2image~=1.16.3
matplotlib~=3.8.2
setuptools~=69.0.3
paddleocr~=2.7.0.3
scikit-image~=0.22.0
ultralytics~=8.0.165
opencv-python~=4.9.0.80
thop~=0.1.1.post2209072238

torch~=2.0.1
torch-utils~=0.1.2
torchaudio~=0.13.1+cu116
torchvision~=0.15.2

# pip install torch~=1.13.1 torchvision~==0.14.1+cu116 torchaudio~==0.13.1+cu116 --index-url https://download.pytorch.org/whl/cu116




